@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-color: rgb(238, 109, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-section, h1, h2, h3 {
    width: 72%;
    left: 20%;
    right: 20%;
    background-color: lightslategray;
    border: 2px solid darkslategray;
}

#page-title, h1 {
    width: 72%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Creepster', cursive;
}

#subtitle, h2 {
    width: 72%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: medium;
    font-family: 'Creepster', cursive;
}

#header-img {
    background-image: url("../images/CatCoverPhoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    left: 30%;
    right: 30%;
    height: 20cm;
    width: 25cm;
}

#searchbar-title, h3 {
    text-align: center;
}

#pet-list-header {
    width: 72%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Creepster', cursive;
}

.hide {
    display: none;
}
