@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    background-color: rgb(35, 142, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-section {
    width: 60%;
    left: 20%;
    right: 20%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    background-color: lightslategray;
    border: 2px solid darkslategray;
}

#header-img {
    background-image: url("../images/CatCoverPhoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    left: 30%;
    right: 30%;
    height: 20cm;
}

.hide {
    display: none;
}